<div class="container-fluid">
  <h3 class="eyesAddTitle">Eyes</h3>
  <form role="form" ng-submit="addEye.submitEye()">
    <p class="type">
      <label class="form-group">
        <span>Type of Eye Product:</span>
        <select class="type form-control" id="brand" ng-model="addEye.type" required>
          <option>Mascara</option>
          <option>Eye Liner</option>
          <option>Single Eye Shadow</option>
          <option>Eye Shadow Palette</option>
          <option>Eye Primer</option>
        </select>
      </label>
    </p>
    <p class="productName">
      <label class="form-group">
        <span>Product Name:</span>
        <input type="text" class="form-control" ng-model="addEye.product" required>
      </label>
    </p>
    <p class="brandName">
      <label class="form-group">
        <span>Brand Name:</span>
        <input type="text" class="form-control" ng-model="addEye.brand" required>
      </label>
    </p>
    <p class="colorName">
      <label class="form-group">
        <span>Color Name:</span>
        <input type="text" class="form-control" ng-model="addEye.color" required>
      </label>
    </p>
    <p class="rating">
      <label class="form-group" ng-model="addEye.rating">
        <span>Rating: </span>
        <select class="form-control" ng-model="addEye.rating" required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
    </p>
    <p class="submit">
      <input id="submit" class="btn btn-default" type="submit" value="Add" required>
    </p>
  </form>
</div>
