<div class="toolsCat container-fluid">
  <ol class="breadcrumb">
    <li><a href="#homepage">Home</a></li>
    <li class="active">Tools</li>
  </ol>
  <h2 class="toolsTitle">Tools</h2>
  <section class="toolsInfo"  ng-hide="tools.data.length">
    <p>You do not have any products.
    <br>Would you like to add some?
      <div class="add">
        <a href="#tools/add">ADD</a>
      </div>
    </p>
  </section>
<section class="toolsProducts" ng-hide="!tools.data.length">
  <div class="add">
    <a href="#tools/add">ADD</a>
  </div>
<div class="product" ng-repeat="tools in tools.data">
  <img src="/images/tools.png">
  <div class="productDetails pull-right">
    <div class="mainInfo">
      <h4>{{tools.product}}</h4>
      <h4>{{tools.brand}}</h4>
    </div>
    <div class="secondaryInfo">
      <p>{{tools.type}}
      <br>Rating: {{tools.rating}}</p>
    </div>
  </div>
</div>
</section>
</div>
