h3.aboutTitle {
  color: #060847;
}
section.beautyMark {
  border: 2px solid #060847;
  border-radius: 5px;
  color: #060847;
  margin-bottom: 20px;
  h4 {
    margin: 10px;
    text-decoration: underline;
  }
  p {
    margin-left: 10px;
    margin-right: 10px;
  }
}
section.author {
  border: 2px solid #060847;
  border-radius: 5px;
  color: #060847;
  margin-bottom: 20px;
  h4 {
    margin: 10px;
    text-decoration: underline;
  }
  p {
    margin-left: 10px;
    margin-right: 10px;
  }
}
section.imageCredits {
  border: 2px solid #060847;
  border-radius: 5px;
  color: #060847;
  margin-bottom: 20px;
  h4 {
    margin: 10px;
    text-decoration: underline;
  }
  p {
    margin-left: 10px;
    margin-right: 10px;
  }
}
