div.about {
  font-family: 'Raleway', sans-serif;
  ol.breadcrumb {
    background-color: #fff;
    text-align: right;
    li {
      color: #060847;
      font-weight: bold;
    }
    li.active::before {
      content: "/ ";
    }
  }
  h2.aboutTitle {
    color: #060847;
    font-variant: small-caps;
    text-align: center;
  }
  section.imageCredits {
    /* border: 0.5em solid #060847; */
    /* color: #060847; */
    background-color: #fff;
    margin-bottom: 0;
    padding-bottom: 0;
    div.logoIcon {
      border: 0.5em solid #060847;
      width: 48%;
      padding: 1%;
      margin: 0 auto;
      margin-bottom: 8%;
      background-color: #060847;
      img {
        width: 100%;
        height: 100%;
      }
    }
    div.nailsIcon {
      border: 0.5em solid #060847;
      width: 48%;
      padding: 1%;
      display: inline-block;
      background-color: #fff;
      img {
        width: 100%;
        height: 100%;
      }
    }
    div.eyesIcon {
      border: 0.5em solid #060847;
      width: 48%;
      padding: 1%;
      display: inline-block;
      background-color: #fff;
      img {
        width: 100%;
        height: 100%;
      }
    }
    div.faceIcon {
      border: 0.5em solid #060847;
      width: 48%;
      padding: 1%;
      display: inline-block;
      background-color: #fff;
      img {
        width: 100%;
        height: 100%;
      }
    }
    div.lipsIcon {
      border: 0.5em solid #060847;
      width: 48%;
      padding: 1%;
      display: inline-block;
      background-color: #fff;
      img {
        width: 100%;
        height: 100%;
      }
    }
    div.hairIcon {
      border: 0.5em solid #060847;
      width: 48%;
      padding: 1%;
      display: inline-block;
      background-color: #fff;
      img {
        width: 100%;
        height: 100%;
      }
    }
    div.toolsIcon {
      border: 0.5em solid #060847;
      width: 48%;
      padding: 1%;
      display: inline-block;
      background-color: #fff;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  section.copyright {
    background-color: #fff;
    color: #060847;
    padding-top: 0;
    h3{
      text-align: center;
    }
  }
}
