div.eyesAdd {
  font-family: 'Raleway', sans-serif;
  ol.breadcrumb {
    background-color: #fff;
    text-align: right;
    li {
      color: #060847;
      font-weight: bold;
    }
    li.middle::before {
      content: "/ ";
    }
    li.active::before {
      content: "/ ";
    }
  }
  h2.eyesAddTitle {
    color: #060847;
    font-variant: small-caps;
    text-align: center;
  }
  form {
    color: #060847;
    font-size: large;
    margin-bottom: 3%;
    .form-control {
      color: #060847;
      border-color: #060847;
    }
    button {
      background-color: #060847;
      color: #fff;
    }
  }
}
