div.faceAdd {
  font-family: 'Raleway', sans-serif;
  ol.breadcrumb {
    background-color: #fff;
    text-align: right;
    li {
      color: #060847;
      font-weight: bold;
    }
    li.middle::before {
      content: "/ ";
    }
    li.active::before {
      content: "/ ";
    }
  }
  h2.faceAddTitle {
    color: #060847;
    font-variant: small-caps;
  }
  form {
    color: #060847;
    p.type {
      color: #060847;
      select {
        color: #060847;
        border-color: #060847;
      }
    }
    p.productName {
      color: #060847;
      input {
        color: #060847;
        border-color: #060847;
      }
    }
    p.brandName {
      color: #060847;
      input {
        color: #060847;
        border-color: #060847;
      }
    }
    p.colorName {
      color: #060847;
      input {
        color: #060847;
        border-color: #060847;
      }
    }
    p.rating {
      color: #060847;
      select {
        color: #060847;
        border-color: #060847;
      }
    }
    p.submit {
      color: #FFFFFF;
      input {
        color: #FFFFFF;
        background-color: #060847;
        border-color: #060847;
      }
    }
  }
}
