h3.hairAddTitle {
  color: #060847;
}
form {
  color: #060847;
  p.type {
    color: #060847;
    select {
      color: #060847;
      border-color: #060847;
    }
  }
  p.productName {
    color: #060847;
    input {
      color: #060847;
      border-color: #060847;
    }
  }
  p.brandName {
    color: #060847;
    input {
      color: #060847;
      border-color: #060847;
    }
  }
  p.rating {
    color: #060847;
    select {
      color: #060847;
      border-color: #060847;
    }
  }
  p.submit {
    color: #FFFFFF;
    input {
      color: #FFFFFF;
      background-color: #060847;
      border-color: #060847;
    }
  }
}
