div.homepage {
  font-family: 'Cinzel Decorative', cursive;
  ::first-letter {
/*     font-size: 25pt; */
    font-weight: bold;
  }
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  section.row {
    margin-left: 0;
    margin-right: 0;
  }
  div.nails {
    display: inline-block;
    border: 0.5em solid #060847;
    height: 100%;
    width: 45%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 2.5%;
    margin-bottom: 0;
    background-color: #fff;
    background-image: url('/images/nail.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 2.5em;
      color: #060847;
    }
  }
  div.eyes {
    display: inline-block;
    border: 0.5em solid #060847;
    height: 100%;
    width: 45%;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 0;
    background-color: #fff;
    background-image: url('/images/eyes.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 2.5em;
      color: #060847;
    }
  }
  div.face {
    display: inline-block;
    border: 0.5em solid #060847;
    height: 100%;
    width: 45%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 2.5%;
    margin-bottom: 0;
    background-color: #fff;
    background-image: url('/images/face.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 2.5em;
      color: #060847;
    }
  }
  div.lips {
    display: inline-block;
    border: 0.5em solid #060847;
    height: 100%;
    width: 45%;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 0;
    background-color: #fff;
    background-image: url('/images/lips.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 2.5em;
      color: #060847;
    }
  }
  div.hair {
    display: inline-block;
    border: 0.5em solid #060847;
    height: 100%;
    width: 45%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 2.5%;
    margin-bottom: 3%;
    background-color: #fff;
    background-image: url('/images/hair.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 2.5em;
      color: #060847;
    }
  }
  div.tools {
    display: inline-block;
    border: 0.5em solid #060847;
    height: 100%;
    width: 45%;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    background-color: #fff;
    background-image: url('/images/tools.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 2.5em;
      color: #060847;
    }
  }
  div.logout {
    display: inline-block;
    border: 2px solid #F4B7CE;
    height: 2.5em;
    width: 90%;
    margin: 0 5% 3% 5%;
    background-color: #F4B7CE;
    a {
    font-family: 'Raleway', sans-serif;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    }
  }
}
