div.nails {
  display: inline-block;
  border: 0.5em solid #060847;
  border-radius: 10%;
  height: 100%;
  width: 40%;
  a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 2.5em;
    color: #060847;
  }
}
div.eyes {
  display: inline-block;
  border: 0.5em solid #060847;
  border-radius: 10%;
  height: 100%;
  width: 40%;
  a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 2.5em;
    color: #060847;
  }
}
div.face {
  display: inline-block;
  border: 0.5em solid #060847;
  border-radius: 10%;
  height: 100%;
  width: 40%;
  a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 2.5em;
    color: #060847;
  }
}
div.lips {
  display: inline-block;
  border: 0.5em solid #060847;
  border-radius: 10%;
  height: 100%;
  width: 40%;
  a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 2.5em;
    color: #060847;
  }
}
div.hair {
  display: inline-block;
  border: 0.5em solid #060847;
  border-radius: 10%;
  height: 100%;
  width: 40%;
  a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 2.5em;
    color: #060847;
  }
}
div.tools {
  display: inline-block;
  border: 0.5em solid #060847;
  border-radius: 10%;
  height: 100%;
  width: 40%;
  a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 2.5em;
    color: #060847;
  }
}
