div.homepage {
  font-family: 'Cinzel Decorative', cursive;
  ::first-letter {
    font-size: 25pt;
    font-weight: bold;
  }
  div.nails {
    display: inline-block;
    border: 0.5em solid #060847;
    border-radius: 10%;
    height: 100%;
    width: 48.5%;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 2.5em;
      color: #060847;
      img {
        height: 5em;
        width: 5em;
      }
    }
  }
  div.eyes {
    display: inline-block;
    border: 0.5em solid #060847;
    border-radius: 10%;
    height: 100%;
    width: 48.5%;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 2.5em;
      color: #060847;
      img {
        height: 5em;
        width: 5em;
      }
    }
  }
  div.face {
    display: inline-block;
    border: 0.5em solid #060847;
    border-radius: 10%;
    height: 100%;
    width: 48.5%;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 2.5em;
      color: #060847;
      img {
        height: 5em;
        width: 5em;
      }
    }
  }
  div.lips {
    display: inline-block;
    border: 0.5em solid #060847;
    border-radius: 10%;
    height: 100%;
    width: 48.5%;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 2.5em;
      color: #060847;
      img {
        height: 5em;
        width: 5em;
      }
    }
  }
  div.hair {
    display: inline-block;
    border: 0.5em solid #060847;
    border-radius: 10%;
    height: 100%;
    width: 48.5%;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 2.5em;
      color: #060847;
      img {
        height: 5em;
        width: 5em;
      }
    }
  }
  div.tools {
    display: inline-block;
    border: 0.5em solid #060847;
    border-radius: 10%;
    height: 100%;
    width: 48.5%;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 2.5em;
      color: #060847;
      img {
        height: 5em;
        width: 5em;
      }
    }
  }

}
