main.container-fluid {
  padding-left: 0;
  padding-right: 0;
  header.page-header {
    background-color: #060847;
    margin: 0;
    height: 8em;
    h1.title {
      color: #fff;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 1.25em;
      vertical-align: top;
      display: inline-block;
    }
    div.homepageLink {
      display: inline-block;
      width:30%;
      height: 8em;
      img.logo {
        height: 80%;
        padding-top: 1em;
     }
    }
  }
  footer.page-footer {
    position: static;
    bottom: 0;
    background-color: #060847;
    width: 100%;
    height: 4em;
    h3.designedBy {
      color: #FFFFFF;
      display: inline-block;
      vertical-align: top;
    }
    div.aboutLink {
      display: inline-block;
      width: 30%;
      height: 4em;
      img.about {
        height: 80%;
        padding-top: 1em;
      }
    }

  }
}

/* @media (max-width: 320px) {
  h1.title {
    padding-right: 0.5em;
    width: 6em;
  }
  div.homepageLink{
    padding: 0;
    img.logo {
      padding: 0;
      max-width: 5.5em;
      height: auto;
     }
  } */
}
