main.container-fluid {
  padding-left: 0;
  padding-right: 0;
  header.page-header {
    background-color: #060847;
    margin: 0;
    height: 8em;
    h1.title {
      color: #fff;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 1.25em;
      vertical-align: top;
      display: inline-block;
    }
    div.homepageLink {
      display: inline-block;
      width:30%;
      height: 8em;
      img.logo {
       height: 100%;
     }
    }
  }
  footer.page-footer {
    position: static;
    bottom: 0;
    background-color: #060847;
    width: 100%;
    height: 50px;
    h3.designedBy {
      color: #FFFFFF;
      display: inline-block;
    }
    img.about {
      display: inline-block;
      vertical-align: top;
    }
  }
}

@media (max-width: 320px) {
  h1.title {
    padding-right: 0.5em;
    width: 6em;
  }
  div.homepageLink{
    padding: 0;
    img.logo {
      padding: 0;
      max-width: 5.5em;
      height: auto;
     }
  }
}
