div.login {
  font-family: 'Raleway', sans-serif;
  section.loginBox {
    border: 0.5em solid #060847;
    height: 100%;
    width: 90%;
    margin:5%;
    background-color: #fff;
    h2.loginTitle {
      color: #060847;
      margin-top: 0;
      font-variant: small-caps;
      text-align: center;
    }
    p {
      color: #060847;
      font-size: 13pt;
      text-align: center;
    }
      div.login {
        border: 2px solid #060847;
        background-color: #060847;
        a {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        color: #FFFFFF;
        }
      }
    }
  }
