h3.toolsTitle {
  color: #060847;
  text-align: center;
}
section.toolsInfo {
  color: #060847;
  text-align: center;
  p {
    padding: 1em;
    text-align: center;
  }
  div.add {
    display: inline-block;
    border: 2px solid #060847;
    border-radius: 8%;
    height: 2.5em;
    width: 10em;
    background-color: #060847;
    text-align: center;
    a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 2.5em;
    color: #FFFFFF;
    }
  }
}
section.toolsProducts {
  div.add {
    border: 2px solid #060847;
    border-radius: 8%;
    height: 2.5em;
    width: 10em;
    background-color: #060847;
    text-align: center;
    margin: 5%;
    a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 2.5em;
    color: #FFFFFF;
    }
  }
  div.product {
    border: 0.5em solid #060847;
    border-radius: 10%;
    height: 100%;
    width: 95%;
    margin: 5%;
    img {
      display: inline-block;
      border-radius: 10%;
      height: 40%;
      width: 40%;
    }
    div.productDetails{
      width: 55%;
      color: #060847;
      div.mainInfo {
        display: inline-block;
        text-align: left;
        margin-top: 5%;
      }
      div.secondaryInfo {
        text-align: left;
        margin-bottom: 5%;
      }
    }

  }
}
