<div class="hairAdd container-fluid">
  <ol class="breadcrumb">
    <li><a href="#homepage">Home</a></li>
    <li class="middle"><a href="#hair">Hair</a></li>
    <li class="active">Add</li>
  </ol>
  <h2 class="hairAddTitle">Hair</h2>
  <form role="form" ng-submit="addHair.submitHair()">
    <p class="type">
      <fieldset class="form-group">
        <span>Type of Hair Product:</span>
        <select class="type form-control input-lg" id="brand" ng-model="addHair.type" required>
          <option>Shampoo</option>
          <option>Conditioner</option>
          <option>Styling Product</option>
        </select>
      </fieldset>
    </p>
    <p class="productName">
      <fieldset class="form-group">
        <span>Product Name:</span>
        <input type="text" placeholder="ex. Ginger" class="form-control input-lg" ng-model="addHair.product" required>
      </fieldset>
    </p>
    <p class="brandName">
      <fieldset class="form-group">
        <span>Brand Name:</span>
        <input type="text" placeholder="ex. The Body Shop" class="form-control input-lg" ng-model="addHair.brand" required>
      </fieldset>
    </p>
    <p class="rating">
      <fieldset class="form-group">
        <span>Rating: </span>
        <select class="form-control input-lg" ng-model="addHair.rating" required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </fieldset>
    </p>
    <button id="submit" class="btn btn-default btn-lg btn-block" type="submit" value="Add">ADD</button>
  </form>
</div>
