<div class="container-fluid">
  <h3 class="nailsAddTitle">Nails</h3>
  <form role="form">
    <p class="brandName">
      <label class="form-group">
        <span>Brand Name:</span>
        <select class="form-control">
          <option>Please Select a Brand</option>
          <option>butter LONDON</option>
          <option>China Glaze</option>
          <option>Deborah Lippmann</option>
          <option>Essie</option>
          <option>Julep</option>
          <option>OPI</option>
          <option>Orly</option>
          <option>Sally Hansen</option>
          <option>Sephora</option>
          <option>Zoya</option>
        </select>
      </label>
    </p>
    <p class="colorName">
      <span>Color Name:</span>
      <input type="text" class="form-control">
    </p>
    <p class="colorFamily">
      <label class="form-group">
        <span>Color Family:</span>
        <select class="form-control">
          <option>Please Select a Color Family</option>
          <option>Pink</option>
          <option>Red</option>
          <option>Orange</option>
          <option>Yellow</option>
          <option>Green</option>
          <option>Blue</option>
          <option>Purple</option>
          <option>Black</option>
          <option>Grey</option>
          <option>White</option>
          <option>Nude</option>
        </select>
      </label>
    </p>
    <p class="colorTone">
      <label class="form-group">
        <span>Color Tone:</span>
        <select class="form-control">
          <option>Please Select a Color Tone</option>
          <option>Cool</option>
          <option>Neutral</option>
          <option>Warm</option>
        </select>
      </label>
    </p>
    <p class="colorFinish">
      <label class="form-group">
        <span>Color Finish:</span>
        <select class="form-control">
          <option>Please Select a Color Finish</option>
          <option>Cream</option>
          <option>Jelly</option>
          <option>Metallic</option>
          <option>Satin</option>
          <option>Glitter</option>
          <option>Matte</option>
        </select>
      </label>
    </p>
    <p class="rating">
      <span>Rating: </span>
      <label class="radio-inline">
        <input type="radio" value="option1"> 1
      </label>
      <label class="radio-inline">
        <input type="radio" value="option2"> 2
      </label>
      <label class="radio-inline">
        <input type="radio" value="option3"> 3
      </label>
      </label>
      <label class="radio-inline">
        <input type="radio" value="option4"> 4
      </label>
      </label>
      <label class="radio-inline">
        <input type="radio" value="option5"> 5
      </label>
    </p>
    <p class="submit">
      <input class="btn btn-default" type="submit" value="Add">
    </p>
  </form>
</div>
