<div class="nailsAdd container-fluid">
  <ol class="breadcrumb">
    <li><a href="#homepage">Home</a></li>
    <li class="middle"><a href="#nails">Nails</a></li>
    <li class="active">Add</li>
  </ol>
  <h2 class="nailsAddTitle">Nails</h2>
  <form role="form" ng-submit="addNail.submitNail()">
    <p class="brandName">
      <fieldset class="form-group">
        <span>Brand Name:</span>
        <select class="brand form-control input-lg" id="brand" ng-model="addNail.brand" required>
          <option>butter LONDON</option>
          <option>China Glaze</option>
          <option>Deborah Lippmann</option>
          <option>Essie</option>
          <option>Julep</option>
          <option>OPI</option>
          <option>Orly</option>
          <option>Sally Hansen</option>
          <option>Sephora</option>
          <option>Zoya</option>
        </select>
      </fieldset>
    </p>
    <p class="colorName">
      <fieldset class="form-group">
        <span>Color Name:</span>
        <input type="text" placeholder="ex. Build Me Up Buttercup" class="form-control input-lg" ng-model="addNail.name" required>
      </fieldset>
    </p>
    <p class="colorFamily">
      <fieldset class="form-group">
        <span>Color Family:</span>
        <select class="form-control input-lg" ng-model="addNail.family" required>
          <option>Pink</option>
          <option>Red</option>
          <option>Orange</option>
          <option>Yellow</option>
          <option>Green</option>
          <option>Blue</option>
          <option>Purple</option>
          <option>Black</option>
          <option>Grey</option>
          <option>White</option>
          <option>Nude</option>
        </select>
      </fieldset>
    </p>
    <p class="colorTone">
      <fieldset class="form-group">
        <span>Color Tone:</span>
        <select class="form-control input-lg" ng-model="addNail.tone" required>
          <option>Cool</option>
          <option>Neutral</option>
          <option>Warm</option>
        </select>
      </fieldset>
    </p>
    <p class="colorFinish">
      <fieldset class="form-group">
        <span>Color Finish:</span>
        <select class="form-control input-lg" ng-model="addNail.finish" required>
          <option>Cream</option>
          <option>Jelly</option>
          <option>Metallic</option>
          <option>Satin</option>
          <option>Glitter</option>
          <option>Matte</option>
        </select>
      </fieldset>
    </p>
    <p class="rating">
      <fieldset class="form-group">
        <span>Rating: </span>
        <select class="form-control input-lg" ng-model="addNail.rating" required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </fieldset>
    </p>
    <button id="submit" class="btn btn-default btn-lg btn-block" type="submit" value="Add">ADD</button>
  </form>
</div>
