<div class="container-fluid">
  <h3 class="nailsTitle">Nails</h3>
  <section class="nailsInfo">
    <p>You do not have any products.
    <br>Would you like to add some?
      <div class="add">
        <a href="#nails/add">ADD</a>
      </div>
    </p>
  </section>
  <section class="nailsProducts">
    <div class="add">
      <a href="#nails/add">ADD</a>
    </div>
  <div class="product">
    <img src="/images/nail.png">
    <div class="productDetails">
      <h4>OPI</h4>
      <h4>Red</h4>
      <p>Pink
      <br>Cool
      <br>Glitter
      <br>Rating: 1</p>
    </div>
  </div>
  </section>
</div>
