<div class="about container-fluid">
  <ol class="breadcrumb">
    <li><a href="#homepage">Home</a></li>
    <li class="active">About</li>
  </ol>
  <h2 class="aboutTitle">About</h2>
  <section class="imageCredits jumbotron">
    <div class="logoIcon jumbotron">
      <a href="https://thenounproject.com/search/?q=lips&i=33267">
        <img src="/images/logo.png">
      </a>
    </div>
    <div class="nailsIcon jumbotron">
      <a href="https://thenounproject.com/search/?q=beauty&i=10123">
        <img src="/images/nail.png">
      </a>
    </div>
    <div class="eyesIcon jumbotron">
      <a href="https://thenounproject.com/search/?q=beauty&i=28991">
        <img src="/images/eyes.png">
      </a>
    </div>
    <div class="faceIcon jumbotron">
      <a href="https://thenounproject.com/search/?q=beauty&i=3309">
        <img src="/images/face.png">
      </a>
    </div>
    <div class="lipsIcon jumbotron">
      <a href="https://thenounproject.com/search/?q=beauty&i=23008">
        <img src="/images/lips.png">
      </a>
    </div>
    <div class="hairIcon jumbotron">
      <a href="https://thenounproject.com/search/?q=hair&i=30113">
        <img src="/images/hair.png">
      </a>
    </div>
    <div class="toolsIcon jumbotron">
      <a href="https://thenounproject.com/search/?q=beauty&i=10406">
        <img src="/images/tools.png">
      </a>
    </div>
  </section>
  <section class="copyright jumbotron">
    <h3>© 2015 Jessy Riordan</h3>
  </section>
</div>
