<div class="container-fluid">
  <h3 class="aboutTitle">About</h3>
  <section class="beautyMark">
    <h4>&#10084;BeautyMark&#10084;</h4>
    <p>BeautyMark is a web app that will help YOU track, cataloge, and rate YOUR beauty collection. It will help YOU ensure that YOU do not waste time and money.
      <br>I hope you enjoy.</p>
  </section>
  <section class="author">
    <h4>&#10084;Author&#10084;</h4>
    <p>Jessy Riordan<br>
    <a href="https://github.com/JessyRiordan/BeautyMark">Github</a><br>
    <a href="mailto:jessy.riordan@gmail.com?subject=BeautyMark">Email Me</a></p>
  </section>
  <section class="imageCredits">
    <h4>&#10084;Image Credits&#10084;</h4>
    <p>Logo & Favicon
      <br>Ponytail by Dave Larsen from the Noun Project
      <br>
      <br>About
      <br>Information by Gregor Črešnar from the Noun Project
      <br>
      <br>Nails
      <br>Nail Polish by Julia Soderberg from the Noun Project
      <br>
      <br>Eyes
      <br>Eye by WARPAINT Media Inc. from the Noun Project
      <br>
      <br>Lips
      <br>Lips by Alex Tai from the Noun Project
      <br>
      <br>Hair
      <br>hair by icons.design from the Noun Project
      <br>
      <br>Tools
      <br>Hair Dryer by Rod farqs from the Noun Project
    </p>
  </section>
</div>
