<div class="about container-fluid">
  <ol class="breadcrumb">
    <li><a href="#homepage">Home</a></li>
    <li class="active">About</li>
  </ol>
  <h2 class="aboutTitle">About</h2>
  <section class="imageCredits">
    <h4>Image Credits</h4>
    <p>Logo & Favicon
      <br>Ponytail by Dave Larsen from the Noun Project
      <br>
      <br>About
      <br>Information by Gregor Črešnar from the Noun Project
      <br>
      <br>Nails
      <br>Nail Polish by Julia Soderberg from the Noun Project
      <br>
      <br>Eyes
      <br>Eye by WARPAINT Media Inc. from the Noun Project
      <br>
      <br>Lips
      <br>Lips by Alex Tai from the Noun Project
      <br>
      <br>Hair
      <br>hair by icons.design from the Noun Project
      <br>
      <br>Tools
      <br>Hair Dryer by Rod farqs from the Noun Project
    </p>
  </section>
</div>
