<div class="homepage container-fluid">
  <section class="row 1">
    <div class="nails col-md-6-centered">
      <a href="#nails">
        <h3>Nails</h3>
        <img src="/images/nail.png">
      </a>
    </div>
    <div class="eyes col-md-6-centered">
      <a href="#eyes">
        <h3>Eyes</h3>
        <img src="/images/eyes.png">
      </a>
    </div>
  </section>
  <section class="row 2">
    <div class="face col-md-6">
      <a href="#face">
        <h3>Face</h3>
        <img src="/images/face.png">
      </a>
    </div>
    <div class="lips col-md-6">
      <a href="#lips">
        <h3>Lips</h3>
        <img src="/images/lips.png">
      </a>
    </div>
  </section>
  <section class="row 3">
    <div class="hair col-md-6">
      <a href="#hair">
        <h3>Hair</h3>
        <img src="/images/hair.png">
      </a>
    </div>
    <div class="tools col-md-6">
      <a href="#tools">
        <h3>Tools</h3>
        <img src="/images/tools.png">
      </a>
    </div>
  </section>
</div>
