<div class="homepage container-fluid">
  <section class="row 1">
    <div class="nails jumbotron">
      <a href="#nails">
        <h3>Nails</h3>
      </a>
    </div>
    <div class="eyes jumbotron">
      <a href="#eyes">
        <h3>Eyes</h3>
      </a>
    </div>
  </section>
  <section class="row 2">
    <div class="face jumbotron">
      <a href="#face">
        <h3>Face</h3>
      </a>
    </div>
    <div class="lips jumbotron">
      <a href="#lips">
        <h3>Lips</h3>
      </a>
    </div>
  </section>
  <section class="row 3">
    <div class="hair jumbotron">
      <a href="#hair">
        <h3>Hair</h3>
      </a>
    </div>
    <div class="tools jumbotron">
      <a href="#tools">
        <h3>Tools</h3>
      </a>
    </div>
  </section>
  <div class="logout input-lg">
    <a href="#/login" ng-click="home.logout()">Logout</a>
  </div>
</div>
