<div class="container-fluid">
  <section class="row 1">
    <div class="nails col-md-6-centered">
      <a href="#nails">Nails
      <img src="/images/nail.png"></a>
    </div>
    <div class="eyes col-md-6-centered">
      <a href="#eyes">Eyes
      <img src="/images/eyes.png"></a>
    </div>
  </section>
  <section class="row 2">
    <div class="face col-md-6">
      <a href="#face">Face
      <img src="/images/face.png"></a>
    </div>
    <div class="lips col-md-6">
      <a href="#lips">Lips
      <img src="/images/lips.png"></a>
    </div>
  </section>
  <section class="row 3">
    <div class="hair col-md-6">
      <a href="#hair">Hair
      <img src="/images/hair.png"></a>
    </div>
    <div class="tools col-md-6">
      <a href="#tools">Tools
      <img src="/images/tools.png"></a>
    </div>
  </section>
</div>
