<div class="login container-fluid">
  <h3 class="loginTitle col-md-12">Hello Gorgeous!</h3>
  <p class="col-md-12">Welcome to BeautyMark!
    <br>This amazing web app will help YOU track, cataloge, and rate YOUR beauty collection.
    <br>It will help YOU ensure that YOU do not waste time and money.
    <br>I hope you enjoy.
  </p>
  <section class="facebookLogin">
    <p>Please login with Facebook to begin your beauty experience.</p>
    <div class="login">
      <a href="#/homepage" ng-click="login.login()">LOGIN</a>
    </div>
  </section>
</div>
