<div class="login container-fluid">
  <section class="loginBox jumbotron">
    <h2 class="loginTitle">Hello Gorgeous!</h2>
    <p>Welcome to BeautyMark!
      <br>This amazing web app will help YOU track, catalog, and rate YOUR beauty collection.
      <br>It will help YOU ensure that YOU do not waste time and money.
      <br>I hope you enjoy.
    </p>
    <p>Please login with Facebook.</p>
    <div class="login input-lg">
      <a href="#/homepage" ng-click="login.login()">LOGIN</a>
    </div>
  </section>
</div>
