<div class="lipsAdd container-fluid">
  <h2 class="lipsAddTitle">Lips</h2>
  <form role="form" ng-submit="addLips.submitLips()">
    <p class="type">
      <label class="form-group">
        <span>Type of Lip Product:</span>
        <select class="type form-control" id="brand" ng-model="addLips.type" required>
          <option>Lip Liner</option>
          <option>Lipstick</option>
          <option>Lip Gloss</option>
        </select>
      </label>
    </p>
    <p class="brandName">
      <label class="form-group">
        <span>Brand Name:</span>
        <input type="text" class="form-control" ng-model="addLips.brand" required>
      </label>
    </p>
    <p class="colorName">
      <label class="form-group">
        <span>Color Name:</span>
        <input type="text" class="form-control" ng-model="addLips.color" required>
      </label>
    </p>
    <p class="colorFamily">
      <label class="form-group">
        <span>Color Family:</span>
        <select class="form-control" ng-model="addLips.family" required>
          <option>Pink</option>
          <option>Red</option>
          <option>Orange</option>
          <option>Purple</option>
          <option>Nude</option>
        </select>
      </label>
    </p>
    <p class="colorTone">
      <label class="form-group">
        <span>Color Tone:</span>
        <select class="form-control" ng-model="addLips.tone" required>
          <option>Cool</option>
          <option>Neutral</option>
          <option>Warm</option>
        </select>
      </label>
    </p>
    <p class="rating">
      <label class="form-group" ng-model="addLips.rating">
        <span>Rating: </span>
        <select class="form-control" ng-model="addLips.rating" required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
    </p>
    <p class="submit">
      <input id="submit" class="btn btn-default" type="submit" value="Add" required>
    </p>
  </form>
</div>
