<div class="lipsCat container-fluid">
  <h2 class="lipsTitle">Lips</h2>
  <section class="lipsInfo" ng-hide="lips.data.length">
    <p>You do not have any products.
      <br>Would you like to add some?
      <div class="add">
        <a href="#lips/add">ADD</a>
      </div>
    </p>
  </section>
  <section class="lipsProducts" ng-hide="!lips.data.length">
    <div class="add">
      <a href="#lips/add">ADD</a>
    </div>
    <div class="product" ng-repeat="lips in lips.data">
      <img src="/images/lips.png">
      <div class="productDetails pull-right">
        <div class="mainInfo">
          <h4>{{lips.type}}</h4>
          <h4>{{lips.brand}}</h4>
        </div>
        <div class="secondaryInfo">
          <p>{{lips.color}}, {{lips.family}}, {{lips.tone}}
            <br>Rating: {{lips.rating}}</p>
        </div>
      </div>
    </div>
  </section>
</div>
